<p>P2P Chat!</p>

<p>My ID: {{ id }}</p>

<button [disabled]="chatChannel" (click)="createNewRoom()">Create New Chat</button>
<button [disabled]="chatChannel" (click)="joinRoom()">Join Chat</button>
<button *ngIf="room && chatChannel" (click)="leaveRoom()">Leave Chat</button>

<div *ngIf="room && chatChannel">
  <br />
  Chat ID: {{ room?.id }} <br /><br />
  <input
    type="text"
    placeholder="Write a message..."
    [(ngModel)]="messageText"
    [disabled]="chatChannel.readyState !== 'open'"
    (keydown.enter)="sendMessage()"
  />
  <span>{{ messageText }}</span>
</div>
<ul>
  <li *ngFor="let message of messages">
    {{ message }}
  </li>
</ul>
